body {
}

.col-card {
  padding: 1rem;

  & > a {
    text-decoration: none;
  }

  .text-character {
    text-decoration: none;
    padding: 14px;
  }
}

.el-menu-demo {
  position: fixed;
  width: 100%;
}


.container-characer{
	.el-card__body{
		padding: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	
		img{
			max-width: 400px;
		}
	}
}
