<template>
  <div class="">
    <el-row>
      <el-col
        :xs="24"
        :sm="12"
        :md="8"
        :lg="6"
        :xl="1"
        v-for="(character, index) in characters"
        :key="index"
        :offset="0"
        class="col-card"
      >
        <nuxt-link :to="`/${slug(character.name)}?q=${character.id}`" class="">
          <el-card :body-style="{ padding: '0px' }">
            <img
              :src="
                character.image
                  ? character.image
                  : 'https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png'
              "
              class="image"
            />
            <div class="text-character">
              <span>{{ character.name }}</span>
              <div class="bottom clearfix">
                <time class="time"
                  >{{ character.species }}, {{ character.gender }}</time
                >
                <el-button type="text" class="button">{{
                  character.status
                }}</el-button>
              </div>
            </div>
          </el-card>
        </nuxt-link>
      </el-col>
    </el-row>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState, mapGetters } from 'vuex'
export default Vue.extend({
  components: {},
  props: {
    characters: { required: false, type: Array, default: () => [] },
  },
  data() {
    return {
      currentDate: new Date(),
    }
  },
  computed: {
    ...mapState({}),
    ...mapGetters({}),
  },
  watch: {},
  methods: {
    ...mapActions({}),
    slug(string: string): string {
      return string
    },
  },
  created() {},
  mounted() {},
})
</script>

<style lang="scss" scoped>
.time {
  font-size: 13px;
  color: #999;
}

.bottom {
  margin-top: 13px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}
</style>
