<template>
  <div class="">
    <el-menu
      :default-active="activeIndex2"
      class="el-menu-demo"
      mode="horizontal"
      @select="handleSelect"
      background-color="#545c64"
      text-color="#fff"
      active-text-color="#ffd04b"
    >
      <el-menu-item index="1">
        <nuxt-link to="/">Rick and Morty Characters</nuxt-link>
      </el-menu-item>

      <el-menu-item index="3">
        <nuxt-link to="/about">About</nuxt-link>
      </el-menu-item>

      <el-menu-item index="4">
        <a href="https://rickandmortyapi.com/" target="_blank">API doc</a>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState, mapGetters } from 'vuex'
export default Vue.extend({
  components: {},
  data() {
    return {
      activeIndex: '1',
      activeIndex2: '1',
    }
  },
  computed: {
    ...mapState({}),
    ...mapGetters({}),
  },
  watch: {},
  methods: {
    ...mapActions({}),
    handleSelect(key: number, keyPath: number): void {
      console.log(key, keyPath)
    },
  },
  created() {},
  mounted() {},
})
</script>

<style lang="scss" scoped></style>
