<template>
  <div class="observer" />
  <!-- elemento de referencia para observar el scroll -->
</template>

<script>
export default {
  props: ['options'],
  data: () => ({
    observer: null,
  }),
  mounted() {
    const options = this.options || {}
    this.observer = new IntersectionObserver(([entry]) => {
      if (entry && entry.isIntersecting) {
        this.$emit('intersect')
        /* se emite el evento al componente padre 
				al detectarse que el scroll llego hasta este punto, 
				o lo que es lo mismo... que el elemento 'Obsever' 
				esta en el area de visibilidad del usuario */
      }
    }, options)

    this.observer.observe(this.$el)
  },
  destroyed() {
    this.observer.disconnect()
  },
}
</script>
