<template>
  <div class="">
    <Navbar />

    <el-container>
      <el-header> </el-header>
      <el-main>
        <Nuxt />
      </el-main>
      <el-footer> </el-footer>
    </el-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
