<template>
  <div class="">

		<el-page-header @back="goBack" content="detail">
		</el-page-header>

		<template v-if="getCharacterDetail">
			<el-row class="container-characer">
				<el-col :span="24" :offset="0">
					<el-card :body-style="{ padding: '0px' }">
            <img
              :src="
                getCharacterDetail.image
                  ? getCharacterDetail.image
                  : 'https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png'
              "
              class="image"
            />
            <div class="text-character">
              <span>{{ getCharacterDetail.name }}</span>
              <div class="bottom clearfix">
                <time class="time"
                  >{{ getCharacterDetail.species }}, {{ getCharacterDetail.gender }}</time
                >
                <el-button type="text" class="button">{{
                  getCharacterDetail.status
                }}</el-button>
              </div>
            </div>
          </el-card>
				</el-col>
			</el-row>
		</template>

	</div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState, mapGetters } from 'vuex'

export default Vue.extend({
  //layout: 'default',
  components: {},
  data() {
    return {}
  },
  computed: {
    ...mapState({}),
    ...mapGetters({
      getCharacterDetail: 'getCharacterDetail',
		}),
  },
  watch: {},
  methods: {
    ...mapActions({
      get_character: 'get_character',
		}),

		goBack() {
			this.$router.push('/')
		}
  },
  created() {
		if (this.$route.query && this.$route.query.q && this.$route.query.q!='') {
			this.get_character({ payload: this.$route.query.q })
		}
	},
  mounted() {},
})
</script>

<style lang="scss" scoped>


</style>
