<template>
  <div class="">

		

	</div>
</template>

<script lang="ts">
import Vue from 'vue'
import {mapActions, mapState, mapGetters } from "vuex";

export default Vue.extend({
	//layout: 'default',
	components: {

	},
  data() {
    return {
    }
  },
  computed: {
		...mapState({
			
		}),
		...mapGetters({
			
		}),
    
  },
  watch: {
    
  },
  methods: {
		...mapActions({
		}),

  },
	created() {
		
	},
	mounted() {
		
	},
})
</script>

<style lang="scss" scoped>

</style>