<template>
  <div class="">

		<div>
			<el-input placeholder="Please type to search" v-model="filters.name"></el-input>
		</div>

    <List :characters="getCharactersList" />

    <div class="w-100">
      <Observer @intersect="intersected()" />
    </div>

  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState, mapGetters } from 'vuex'

export default Vue.extend({
  //layout: 'default',
  components: {},
  data() {
    return {
      filters: {
				searching: false,
        page: 1,
        name: '',
        status: '',
        species: '',
        type: '',
        gender: '',
      },
    }
  },
  computed: {
    ...mapState({}),
    ...mapGetters({
      getCharactersList: 'getCharactersList',
    }),
  },
  watch: {
		'filters.name'(){
			this.get_characters({ payload: this.filters })
			this.filters.page=1
			this.filters.searching = true;
		}
	},
  methods: {
    ...mapActions({
      get_characters: 'get_characters',
    }),

    async intersected() {
      if (this.getCharactersList) {
        let indice = parseInt(this.getCharactersList.length / 20 + 1)
        if (indice > this.filters.page) {
					this.filters.searching = false;
          this.filters.page++
          console.log('*** loading page: ', this.filters.page)

          this.get_characters({ payload: this.filters })
        }
      }
    },
  },
  created() {
    this.get_characters({ payload: this.filters })
  },
  mounted() {},
})
</script>

<style lang="scss" scoped></style>
